@import '../../variables';
@import '../../mixin';

ul li {
  list-style: none;
  font: 1.5em $font;
  color: greenyellow;
}

label {
  display: block;
  margin: 3em 0 1.5em;
}

b {
  font: bold 2em $font;
}

p {
  @include error;
}

.members-list {

  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .status {
      display: block;
      margin-left: 5px;
      text-decoration: underline;
      color: blue;
    }

    i {
      display: block;
      margin-left: 10px;
      color: blue;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }
  }
}