@import '../../variables';
@import '../../mixin';

ul li {
  list-style: none;
  font: 1.5em $font;
  color: greenyellow;
}

label {
  display: block;
  margin: 3em 0 1.5em;
}

b {
  font: bold 2em $font;
}


p {
  @include error;
}
