<div class="container">
  <h1>{{action}} todo</h1>
  <form [formGroup]="editorForm">
    <div class="form-group"
         [ngClass]="{'has-error': !editorForm.controls['group_id'].valid && editorForm.controls['group_id'].touched}">
      <label><b>Select group</b></label>
      <select class="form-control" formControlName="group_id" [formControl]="editorForm.controls['group_id']">
        <option *ngFor="let group of groups" value={{group.group_id}} [selected]="group.name === selected">{{group.name}}</option>
      </select>
      <div
          *ngIf="editorForm.controls['group_id'].hasError('required') && editorForm.controls['group_id'].touched"
          class="alert alert-danger">Select group
      </div>
    </div>
    <div class="form-group"
         [ngClass]="{'has-error': !editorForm.controls['name'].valid && editorForm.controls['name'].touched}">
      <label><b>Name of todo</b></label>
      <input type="text" class="form-control" [formControl]="editorForm.controls['name']" placeholder="name">
      <div
          *ngIf="editorForm.controls['name'].hasError('required') && editorForm.controls['name'].touched"
          class="alert alert-danger">Input name
      </div>
    </div>
    <div class="form-group">
      <button type="submit" (click)="save(editorForm.value)" [disabled]="!editorForm.valid"
              class="btn btn-success">Save
      </button>
      <a [routerLink]="['/']" class="btn btn-danger">Back</a>
    </div>
    <div class="form-group">
      <p class="error">{{message}}</p>
    </div>
  </form>
</div>