@import '../../variables';

span {
  font: 2em $font;
  color: darkorange;
}

.actions {

  position: absolute;
  right: 10px;
  bottom: 40%;

  i {
    color: darkorange;
    font-size: 1.5em;

    &:hover {
      cursor: pointer;
      color: #328ad6;
      font-size: 2em;
    }
  }
}
